<!DOCTYPE html>
<html xmlns th="http://www.thymeleaf.org" lang="es">
<head th:replace="template/template :: head">
</head>
<body>
<header th:replace="template/template :: header"></header>
<div class="container">
  <h1 th:text="${title}"></h1>
</div>
<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nombre Sucursal</th>
      <th scope="col">Pais</th>
      <th scope="col">tipo</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="sc:${sucursals}">
      <th scope="row" th:text="${sc.pk_SucursalID}"></th>
      <td th:text="${sc.nomSucursal}"></td>
      <td th:text="${sc.paisSucursal}"></td>
      <td th:text="${sc.typeSucursal}"></td>
    </tr>
    </tbody>
  </table>
</div>


<footer th:replace="template/template :: footer"></footer>
</body>
</html>